@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MarkExams</h1>
    <p class="lead">É um sistema desenvolvido pensando em agilizar o agendamento e marcação de consultas.</p>
    <p><a href="https://www.linkedin.com/in/manoelgeraldo" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pacientes</h2>
        <p>
            Nesta seção, você pode adicionar, editar, excluir ou pesquisar todos os pacientes cadastrados.
        </p>
        <p><a class="btn btn-default" href=@Url.Action("Index", "Pacientes")>Ver Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Exames</h2>
        <p>Conheça todos os exames disponíveis ou faça a adição, edição ou exclusão de exames.</p>
        <p><a class="btn btn-default" href=@Url.Action("Index", "Exames")>Ver Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Marcação de Consultas</h2>
        <p>Realize nesta seção a marcação do exame, escolhendo o paciente, o tipo de exame, a data e a hora.</p>
        <p><a class="btn btn-default" href=@Url.Action("NovaConsulta", "Consultas")>Ver Mais &raquo;</a></p>
    </div>
</div>